@import url(https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento);

* {
    box-sizing: border-box;
}

body,html {
    min-height: 100%;
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    color: black;
    font-family: Quattrocento, serif;
    line-height: 1.8925;
    background-image: url(img/cab-splash.png);
    background-size: cover;
    background-position: center;
    &:before,
    &:after {
        content: '';
        position: absolute;
    }
    &:before {
        mix-blend-mode: overlay;
        top: 2%;
        right: 2%;
        bottom: 2%;
        left: 2%;
        border: 1px solid #efefef;
        z-index: 2;
    }
    &:after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background: rgba(#1a1a1a, 1);
        background: radial-gradient( circle at top, #CC774D, #1a1a1a );
    }
    @media (max-height: 450px) {
        font-size: 10px;
    }
}

.content {
    position: relative;
    max-width: 850px;
    z-index: 1;
    padding: 4%;
    text-align: justify;
}

p {
    position: relative;

    &:before,
    &:after {
        mix-blend-mode: difference;
        content: "";
        position: absolute;
        left: calc(25% / 2);
        width: 75%;
        height: 1px;
        background: #D4A790;
        // background: linear-gradient(to right, #7F5B4B, #3B1E11);
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

h1 {
    font-family: Oswald;
    font-size: 6.2em;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1.125;
    text-transform: uppercase;
    text-align: center;
    margin-top: -35px;
}

#event-description {
  margin: 400px 10px 0 10px;
  font-family: Oswald;
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 1;
}
