@mixin ribbon($color: #ccc) {
    background-color: $color;
    color: darken($color, 25%);
    text-shadow: 1px 1px 0 lighten($color, 10%);
    &:after { border: 5px solid darken($color, 10%); }
}

.sponsor {
    background: #fff;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 2rem 1rem 1rem;
    margin-bottom: 1rem;
    height: 250px;
    position: relative;
    text-align: center;
}
.sponsor > img { max-width: 100%; }
.sponsor > .ribbon {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem 0.75rem;
    position: absolute;
    padding: 3px 6px;
    font-size: 1rem;
    line-height: normal;
    text-align: center;
}
.ribbon--platinum { @include ribbon(#eff5ff); }
.ribbon--gold { @include ribbon(#dbb541); }
.ribbon--silver { @include ribbon(#ccc); }
.ribbon--bronze { @include ribbon(#cf843a); }