.l-header {
    @include media-query(palm) {
        .grid__cell { text-align: center; }
    }
}
.l-header-overlay {
    background: $yellow;
    padding: 5rem 0;
    @include media-query(palm) {
        padding: 2rem 0;
    }
}

.l-section { padding: 1rem 0; }
.l-cta {
    background: $baseColor;
    color: #fff;
    font-size: 2rem;
    font-family: 'Open Sans', 'lucida grande', arial;
    font-weight: 300;
}
.l-description { background: #fff; }
.l-map {
    height: 400px;
    width: 100%;
    @include media-query(palm) { height: 200px; }
}
.l-footer {
    background: $gray;
    color: #fff;
}
.nav--light > li > a {
    background: #ecebe7;
    color: #63625a;
    text-decoration: none;
    margin: 1px 0;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    &:hover { background: #d5d3cb; }
}
.nav-logo { 
    margin: 0.6rem; 
    max-width: 100px;
    max-height: 50px;
}
.nav-main {
    padding: 0 0.5rem;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    background: $gray;
    width: 100%;
}
.nav-main .nav {
    margin: 0;
}
.nav-main li {
    @include media-query(palm) {
        display: block;
        padding: 0 0.5rem;
    }
}
.nav-main .nav a {
    color: #FFF;
    padding: 1.75rem 1.2rem;
    text-decoration: none;
    font-family: $fontHeadlineFamily;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    -webkit-transition: border .2s ease-in-out;
    &:hover,
    &.active {
        border-color: $baseColor;
        color: $baseColor;
    }
    @include media-query(palm) {
        display: block;
    }
}
.nav-toggle {
    display: inline-block;
    @include media-query(lap-and-up) { display: none; }
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 0 0.5rem;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.nav-social { margin: 0 0 0 -0.25rem; }
.nav-social > li { margin: 0 0.25rem; }

.icon-bar {
    background: #CCC;
    margin: 2px 0;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.page-frame {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.content-frame {
    position: relative;
    width: 100%;
}
.off-canvas {
    z-index: 1000;
    position: relative;
    overflow: hidden;
    display: none;
}
@include media-query(palm) {
    .nav-main .nav { display: none; }
    .content-frame {
        left: 0;
        transition: transform 500ms ease;
    }
    .active .content-frame {
        transform: translate3d(-50%, 0, 0) scale3d(1, 1, 1);
    }
    .off-canvas {
        background: $gray;
        box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
        position: absolute;
        display: block;
        top: 0;
        width: 50%;
        height: 100%;
        left: 0;
        transform: translate3d(200%, 0, 0);
    }
    .off-canvas li { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .off-canvas li a {
        color: #fff;
        text-decoration: none;
    }
    .off-canvas li a:hover {
        background: rgba(255, 255, 255, 0.1);
    }
    .active .off-canvas {
        height: 100%;
    }
}
