@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";

/**
 * App Specific Styles
 */
@import "base";
@import "layout";
@import "buttons";
@import "forms";
@import "modules/grid";
@import "modules/sponsor";
@import "modules/speaker";
@import "modules/schedule";
@import "modules/pricing";
@import "modules/session";

.h-header {
    color: $gray;
    font-family: $fontIntroFamily;
    text-transform: uppercase;
}
.h-header--condensed {
    letter-spacing: -0.25rem;
}
.h-header--trimmed {
    margin: 0;
}
.h-header--alpha {
    font-family: $fontHeadlineFamily;
    font-weight: 700;
    font-size: 6em;
    line-height: 2rem;
    margin-bottom: 2rem;
    @include media-query(palm) {
        line-height: 5rem;
    }
}

.h-header-highlight {
    color: darken($secondaryColor, 15%);
}

.h-section {
    color: $pink;
    font-size: 3.5rem;
    font-family: $fontHeadlineFamily;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.h-section--light { color: #fff; }

.h-category {
    padding: 0.5rem;
    color: #fff;
    background: #333;
    font-weight: 600;
    text-transform: uppercase;
}

.h-footer {
    margin: 0 0 0.5em;
    font-weight: 300;
    text-transform: uppercase;
}

.z-structural { z-index: 900; }

.divider {
    border-top: 1px solid #ccc;
    box-shadow: 0 -1px 0 #fff;
    margin: 1.5rem 0;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @include media-query(palm) {
        margin: 0;
    }
    @include media-query(desk) {
        width: $desk-start - 30px;
    }
    @include media-query(desk-wide) {
        width: $desk-wide-start - 30px;
    }
}

.responsive-image { max-width: 100%; }